body {
    background-color: #FDEFEF;
}

hr{
    background-color: white;
    border-style: none;
    border-color: blueviolet;
    border-width: 5px;
    border-top-style: dotted;
    width: 20%;
}
h1{
    color: #035397;
}
h3{
    color: #716F81;
}